html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 13px;
}

p {
  line-height: 1.6;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
}

.theme-black {
  color: black;
}

.theme-white {
  color: white;
}

.title {
  text-transform: uppercase;
}
.title + .description {
  margin-top: 10px;
}

.description {
  color: #999;
}

.img + .content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn {
  margin-top: 10px;
  display: inline-block;
}

.is-padding {
  padding: 10px;
}

.is-center {
  text-align: center;
}

.pic-text {
  float: left;
  margin: 10px;
  border: 1px solid #000;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pic-text img {
  width: 100%;
}
