@import "compass/reset";


//variable
$btn-pad: 10px 15px;
$pad-basic: 10px;
$pad-m: 15px;
$font-base: 13px;
$font-s: 12px;

$grey: #999;

//base
body{
	font-size: $font-base;

}
p{
	line-height: 1.6;
}



//mixin
@mixin border-radius($radius){
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   border-radius: $radius;
}

//extend
%btn-basic{
	@include border-radius(5px);
	padding: $btn-pad;
	border: 1px solid black;
	text-transform: uppercase;
	font-size: $font-s;
	background-color: transparent;
}
%before-bg{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


.theme-black{
	color: black;
}
.theme-white{
	color: white;
}
.title{
	text-transform: uppercase;
	+ .description{
		margin-top: $pad-basic;
	}
}
.description{
	color: $grey;
}
.img{
	+ .content{
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
}
.btn{
	margin-top: $pad-basic;
	display: inline-block;
	@extend %btn-basic;
}
.is-padding{
	padding: $pad-basic;
}
.is-center{
	text-align: center;
}
//
.pic-text{
	float: left;
	margin: $pad-basic;
	border: 1px solid #000;
	width: 300px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	img{
		width: 100%;
	}
}
